name: Build and Publish Docker Image

on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
  schedule:
    - cron: '0 0 * * *'  # Runs daily at midnight UTC

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        ros_distro: [jazzy, humble]
        stage: [cpr-ros-base, cpr-ros-dev]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          flavor: |
            suffix=-${{ matrix.ros_distro }}-${{ matrix.stage }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./cpr-base.Dockerfile
          target: ${{ matrix.stage }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            ROS_DISTRO=${{ matrix.ros_distro }}
